.use-keyboard-input {
  width: 100%;
  margin: 3% 0;
  height: 300px;
}

.keyboard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background: hsl(0, 0%, 50%);
  user-select: none;

  &__keys {
    text-align: center;
  }

  &__key {
    height: 55px;
    width: 6%;
    max-width: 90px;
    margin: 4px;
    border-radius: 2px;
    background: hsla(0, 0%, 100%, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    padding: 0;

    &:active {
      background: hsla(0, 0%, 100%, 0.1);
    }

    &_wide {
      font-size: 0.8rem;
      width: 12%;
    }

    &_extra-wide {
      width: 30%;
      max-width: 500px;
    }

    &_active {
      color: hsl(60, 100%, 50%);
    }
  }
}
