.use-keyboard-input {
  width: 100%;
  margin: 3% 0;
  height: 300px;
}

.keyboard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background: hsl(0, 0%, 20%);
  user-select: none;

  &__keys {
    text-align: center;
  }

  &__key {
    height: 55px;
    width: 6%;
    max-width: 90px;
    margin: 4px;
    border-radius: 2px;
    border: none;
    background: hsl(0, 0%, 40%);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    vertical-align: top;
    padding: 0;
    transition: 0.1s linear;

    &_activeted {
      // for buttons which active from real keyboard
      background: hsl(230, 30%, 20%);
      border-radius: 20px;
    }

    &:active {
      background: hsl(230, 30%, 20%);
      border-radius: 20px;
    }

    &_wide {
      font-size: 0.8rem;
      width: 12%;
    }

    &_extra-wide {
      width: 30%;
      max-width: 500px;
    }
  }
}
